img {
    width: 100%;
}
span.fa{
    font-size: 2rem;
}
#alex h3{
    margin: 0.25rem 0;
    font-weight: 700;
}
#alex .icons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#alex a{
    text-decoration: none;
}
