img {
    width: 100%;
}
span.fa{
    font-size: 2rem;
}
#alex h3{
    margin: 0.25rem 0;
    font-weight: 700;
}
#alex .icons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#alex a{
    text-decoration: none;
}

#sam .title {
    font-family: 'Raleway' , sans-serif;
    font-size: 1.55rem;
    color:#445566;
    margin: .5rem 0;
    line-height: 1;
}

#sam .blurb {
    font-family: 'Times new roman', serif;
    font-size: 1.05rem;
    color:#818181;
    margin: .5rem 0;

}

#sam nav a {
    font-size: 1.08rem;
    color:#a1a1a1;
    text-decoration: none;
    padding-right: .5rem;
}

#sam nav a:hover{
    color:cornflowerblue;
    text-decoration: none;
}
